{%- assign search_idx = search_idx | default: 0 | plus: 1 -%}

<div class="form-search">
	<form action="/search" method="get">
		<input type="search" name="q" id="q-{{ search_idx }}" value="{{ search.terms | escape }}" placeholder="I'm looking for..." class="field">

		<button type="submit" class="submitsearch">Search</button>
	</form>
</div><!-- /.form__search -->
