<!-- DELAY SHIPPING POP-UP -->
<div class="modal micromodal-slide delay-shipping" id="modal-delay-shipping" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__wrapper" data-micromodal-close>
            <div class="modal__container" role="dialog" aria-modal="true">
                <header class="modal__header">
                    <h3 class="section__subtitle"></h3>
                    <button class="modal__close close" aria-label="Close modal" data-micromodal-close>Close</button>
                </header>
                <main class="modal__content" id="modal-delay-shipping-content">
                    {{ product.metafields.delay.information }}
                </main>
            </div>
        </div>
    </div>
</div>
