{% case svg-icons %}
{% when 'facebook' %}
  <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="facebook-f" class="svg-inline--fa fa-facebook-f fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="currentColor" d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"></path></svg>
{% when 'twitter' %}
  <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="twitter" class="svg-inline--fa fa-twitter fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path></svg>
{% when 'instagram' %}
  <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="svg-inline--fa fa-instagram fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"></path></svg>
{% when 'cloud' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="287.078" height="199.473" viewBox="0 0 287.078 199.473">
    <path data-name="Fill 1" d="M72.775,27.529S85.014.223,116.481.223c0,0,25.79-3.414,39.557,16.463,0,0,4.255,4.891,15.08,5.421,0,0,40.647-7.227,51.136,28.311,0,0,0,8.432,15.08,10.239,0,0,34.748,3.614,24.912,33.73,0,0-11.8,37.344-70.805,40.356,0,0-16.843-3.376-29.5,8.433,0,0-39.338,32.526-95.065-6.024,0,0-11.145-9.636-31.47-1.2,0,0-30.156,9.037-35.4-40.959,0,0-.655-33.127,24.914-36.139,0,0,29.664-1.905,47.859-31.321" transform="matrix(0.985, 0.174, -0.174, 0.985, 27.088, 0)" fill="#cee7ec"/>
  </svg>
{% when 'cart' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="19.332" height="22.108" viewBox="0 0 19.332 22.108">
    <g id="Group_776" data-name="Group 776" transform="translate(-171.585 -607.545)">
      <path id="Path_153" data-name="Path 153" d="M5005.175,2084.405v-.415a.47.47,0,0,0,.029-.087q.118-1.287.234-2.576.177-1.966.354-3.931.2-2.181.4-4.362c.119-1.311.232-2.621.356-3.931.049-.536.3-.751.842-.751h3.307c0-.451,0-.872,0-1.293a4.159,4.159,0,0,1,.529-2.1,4.1,4.1,0,0,1,5.482-1.675,3.891,3.891,0,0,1,2.21,3.032,16.008,16.008,0,0,1,.074,1.808c0,.072,0,.145,0,.228h.256q1.54,0,3.079,0a.708.708,0,0,1,.812.723c.076.739.138,1.479.2,2.219q.2,2.172.392,4.344t.4,4.362c.121,1.317.233,2.634.356,3.949.053.557-.026.728-.5.986H5005.7A.92.92,0,0,1,5005.175,2084.405Zm17.894-.865c-.419-4.611-.836-9.2-1.253-13.79h-2.821c0,.463,0,.915,0,1.367a.317.317,0,0,0,.143.3,1.354,1.354,0,0,1,.241,1.944,1.371,1.371,0,0,1-2,.165,1.312,1.312,0,0,1-.083-1.932.977.977,0,0,0,.312-.868c-.007-.277,0-.554,0-.831,0-.048-.01-.1-.013-.136h-5.508c0,.468,0,.922,0,1.374a.3.3,0,0,0,.137.28,1.359,1.359,0,0,1,.182,2.029,1.388,1.388,0,0,1-2,.015,1.358,1.358,0,0,1,.141-2.02.372.372,0,0,0,.165-.342c-.011-.384,0-.768,0-1.153,0-.061-.006-.122-.01-.186h-2.81q-.628,6.9-1.253,13.789Zm-5.466-15.2c0-.5,0-1,0-1.5a2.275,2.275,0,0,0-.049-.43,2.762,2.762,0,0,0-2.685-2.2,2.68,2.68,0,0,0-2.689,2.129,12.717,12.717,0,0,0-.086,1.973c0,.009.016.019.022.026Z" transform="translate(-4833.59 -1455.282)" fill="#333"/>
    </g>
  </svg>
{% when 'logo' %}
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="150" height="22" viewBox="0 0 150 22">
    <defs>
      <path id="rsjppawbda" d="M0 0L21.302 0 21.302 21.302 0 21.302z"/>
      <path id="vr25xwyvac" d="M0 0L14.201 0 14.201 21.302 0 21.302z"/>
      <path id="3kcoxpvjze" d="M0 21.302L150 21.302 150 0 0 0z"/>
    </defs>
    <g fill="none" fill-rule="evenodd">
      <g>
        <g transform="translate(-645 -89) translate(645 89)">
          <g transform="translate(19.527)">
            <mask id="cohed8dbwb" fill="#fff">
              <use xlink:href="#rsjppawbda"/>
            </mask>
            <path fill="#010202" d="M10.65 3.475c3.858 0 6.997 3.22 6.997 7.176 0 3.957-3.139 7.176-6.996 7.176-3.858 0-6.996-3.219-6.996-7.176 0-3.957 3.138-7.176 6.996-7.176m0 17.827c5.872 0 10.65-4.778 10.65-10.65C21.302 4.777 16.524 0 10.652 0 4.778 0 0 4.778 0 10.65s4.778 10.65 10.65 10.65" mask="url(#cohed8dbwb)"/>
          </g>
          <g transform="translate(45.266)">
            <mask id="do2uuv3ujd" fill="#fff">
              <use xlink:href="#vr25xwyvac"/>
            </mask>
            <path fill="#010202" d="M7.188 21.302c4.167 0 6.985-2.436 7.013-6.062 0-2.84-1.56-4.8-4.767-5.988l-1.689-.63c-2.108-.77-3.491-1.396-3.491-3.013 0-1.327 1.304-2.254 3.171-2.254 1.46 0 2.757.573 3.772 1.66l2.336-2.443C11.91.865 9.847 0 7.395 0 3.297 0 .65 2.367.65 6.03c0 2.686 1.616 4.566 4.941 5.749l1.776.63c2.192.762 3.17 1.72 3.17 3.104 0 1.456-1.274 2.434-3.17 2.434-1.759 0-3.532-.913-4.626-2.354L0 17.921c1.51 2.123 4.17 3.38 7.188 3.38" mask="url(#do2uuv3ujd)"/>
          </g>
          <path fill="#010202" d="M66.568 0L66.568 20.414 78.994 20.414 78.994 17.027 70.161 17.027 70.161 11.841 77.209 11.841 77.209 8.454 70.161 8.454 70.161 3.387 78.994 3.387 78.994 0z"/>
          <mask id="5bpp3ucbcf" fill="#fff">
            <use xlink:href="#3kcoxpvjze"/>
          </mask>
          <path fill="#010202" d="M95.858 20.414L99.408 20.414 99.408 0 95.858 0zM121.456 0L121.456 14.463 109.78 0 106.509 0 106.509 20.414 110.201 20.414 110.201 5.951 121.877 20.414 125.148 20.414 125.148 0zM141.345 21.302c4.02 0 7.642-1.971 9.543-5.168l-3.222-1.753c-1.446 2.256-3.625 3.446-6.321 3.446-3.937 0-7.14-3.219-7.14-7.176 0-3.957 3.203-7.176 7.14-7.176 2.696 0 4.875 1.19 6.321 3.446l3.222-1.753C148.987 1.971 145.365 0 141.345 0c-5.994 0-10.872 4.778-10.872 10.651s4.878 10.65 10.872 10.65M3.628 3.238h3.667c1.881 0 3.096 1.041 3.096 2.653 0 1.586-1.244 2.652-3.096 2.652H3.628V3.238zm8.916 17.176h4.32l-7.513-9.2.506-.16c2.78-.88 4.132-2.568 4.132-5.163C13.989 2.423 11.446 0 7.805 0H0v20.414h3.628V9.471l2.28 2.85 6.636 8.093z" mask="url(#5bpp3ucbcf)"/>
        </g>
      </g>
    </g>
  </svg>
{% when 'search' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 22 22">
    <path d="M15.834 12.316c.132-.529.369-.793.71-.793.341 0 .564.264.668.793v8.645c-.154.375-.382.562-.685.562-.304 0-.535-.187-.693-.562v-8.645z" transform="translate(-294 -159) translate(0 140) translate(294.5 19.5) rotate(-45 16.523 16.523)"/>
    <path fill-rule="nonzero" d="M8 0c4.419 0 8 3.582 8 8s-3.581 8-8 8c-4.418 0-8-3.582-8-8 0-1.973.718-3.837 1.995-5.287C3.505 1.001 5.672 0 8 0zm0 1c-2.038 0-3.933.875-5.254 2.374C1.627 4.644 1 6.272 1 8c0 3.866 3.134 7 7 7s7-3.134 7-7-3.134-7-7-7z" transform="translate(-294 -159) translate(0 140) translate(294.5 19.5)"/>
  </svg>
{% when 'user' %}
  <svg width="18" height="20" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="my-account">
    <title id="my-account">My Account</title>
    <g stroke="#545353" fill="none" fill-rule="evenodd">
        <circle cx="8.5" cy="4.5" r="4"/>
        <path d="M0 19c0-3.866 3.229-7 7.212-7h2.576C13.77 12 17 15.134 17 19"/>
    </g>
  </svg>
{% when 'thumb' %}
  <svg id="happiness_icon" data-name="happiness icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="40" viewBox="0 0 40 40">
    <path data-name="Clip 2" d="M0,0H40V40H0Z" fill="none"/>
    <g data-name="happiness icon">
      <path data-name="Fill 1" d="M20,40A20,20,0,1,1,40,20,20.022,20.022,0,0,1,20,40ZM20,1.04A18.96,18.96,0,1,0,38.96,20,18.981,18.981,0,0,0,20,1.04Zm3.168,30.032a14.805,14.805,0,0,1-7.874-2.019l-.014.016-.012.016a.583.583,0,0,1-.053.065,1.515,1.515,0,0,1-1.082.433l-3.051-.006a.529.529,0,0,1-.328-.118,11.487,11.487,0,0,1-3.338-5.4,8.533,8.533,0,0,1-.052-5.416.516.516,0,0,1,.482-.326h6.412a1.277,1.277,0,0,1,.909.377,1.464,1.464,0,0,1,.411,1.031l0,8.263a13.52,13.52,0,0,0,7.619,2.047,11.447,11.447,0,0,0,4.839-.9,1.141,1.141,0,0,0,.6-.869,1.377,1.377,0,0,0-.308-1.162.523.523,0,0,1-.142-.485.517.517,0,0,1,.337-.376,7.536,7.536,0,0,0,.842-.332,1.115,1.115,0,0,0,.568-.986,1.514,1.514,0,0,0-.606-1.367.52.52,0,0,1,.085-.922,1.73,1.73,0,0,0,.233-.122,1.345,1.345,0,0,0,.635-1.148,1.129,1.129,0,0,0-.567-.976,2.806,2.806,0,0,0-.279-.15.536.536,0,0,1-.335-.42.519.519,0,0,1,.2-.49,1.468,1.468,0,0,0,.514-1.159,1.655,1.655,0,0,0-.5-1.3,4.976,4.976,0,0,0-3.152-.83,17.656,17.656,0,0,0-4.911.83.521.521,0,0,1-.62-.735,5.39,5.39,0,0,0,.308-4.549c-.3-.948-.843-1.284-1.217-1.284a.663.663,0,0,0-.088.006c-.479.064-.809.6-.841,1.36v.013a27.328,27.328,0,0,1-.24,2.883,4.6,4.6,0,0,1-1.929,3.425.508.508,0,0,1-.31.1.521.521,0,0,1-.418-.21A.52.52,0,0,1,16,17.15a3.585,3.585,0,0,0,1.523-2.76,27.394,27.394,0,0,0,.227-2.753v-.012A2.236,2.236,0,0,1,19.49,9.273a1.564,1.564,0,0,1,.22-.014c.37,0,1.624.145,2.214,2.009A6.592,6.592,0,0,1,22,15.57a17.5,17.5,0,0,1,4.144-.58,5.962,5.962,0,0,1,3.817,1.069,2.648,2.648,0,0,1,.887,2.129,2.7,2.7,0,0,1-.421,1.425,2.144,2.144,0,0,1,.89,1.731,2.367,2.367,0,0,1-.867,1.858,2.706,2.706,0,0,1,.518,1.783A2.133,2.133,0,0,1,29.8,26.847c-.126.058-.225.1-.32.142a2.586,2.586,0,0,1,.177,1.438,2.166,2.166,0,0,1-1.171,1.636A12.545,12.545,0,0,1,23.168,31.073ZM8.213,19.354h0a7.882,7.882,0,0,0,.2,4.4,10.844,10.844,0,0,0,2.863,4.783l2.86.006a.477.477,0,0,0,.338-.121.213.213,0,0,0,.064-.164l0-8.537a.416.416,0,0,0-.108-.294.23.23,0,0,0-.172-.072H8.213Z" fill="#004c70"/>
    </g>
  </svg>
{% when 'mobile-logo' %}
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="36" height="32" viewBox="0 0 36 32">
    <g data-name="Logo">
      <path data-name="Fill 1" d="M15.764,29a1.2,1.2,0,0,1-1.284-1.177A64.6,64.6,0,0,1,15.3,8.309,11.644,11.644,0,0,1,18.165,2.4,8.23,8.23,0,0,1,24.29,0h.092a7.619,7.619,0,0,1,5.572,2.345A7.7,7.7,0,0,1,32,7.567a8.024,8.024,0,0,1-1.859,5.143,7.043,7.043,0,0,1-5.567,2.455,9.73,9.73,0,0,1-2.056-.184c-.774-.183-.9-.514-.862-.989.038-.445.4-.69,1.023-.69h.008a7.553,7.553,0,0,0,5.558-1.862,5.865,5.865,0,0,0,1.566-4.348c-.019-2.968-2.147-5-5.3-5.046h-.091c-2.185,0-4.928,1.34-6.072,5.1A53.241,53.241,0,0,0,16.83,20.852c-.016,2.42.07,4.743.249,6.716a1.305,1.305,0,0,1-.318,1.014A1.327,1.327,0,0,1,15.764,29Zm-5.4-4.507c-.866,0-1.03-.57-1.056-1.767,0-.038.006-.194.017-.451.017-.4.043-.993.064-1.724a48.148,48.148,0,0,0-.135-6.394C8.9,11.088,8.623,9.124,7.68,7.721A3.059,3.059,0,0,0,5.058,6.356a2.974,2.974,0,0,0-2.206.9,3.26,3.26,0,0,0-.776,2.514c.108,1.644,1.3,2.733,3.534,3.238.634.143.916.4.916.849,0,.5-.313.663-.784.758a4.343,4.343,0,0,1-.864.084,5.415,5.415,0,0,1-.906-.079A4.465,4.465,0,0,1,.005,9.656a5.353,5.353,0,0,1,1.76-3.839A5.356,5.356,0,0,1,5.126,4.392c.074,0,.149,0,.222,0a5.181,5.181,0,0,1,4.9,3.065,18.2,18.2,0,0,1,1.229,4.487,49.141,49.141,0,0,1,.189,11.047C11.569,23.84,11.407,24.493,10.367,24.493Z" transform="translate(2 2)" fill="#084b6d"/>
    </g>
  </svg>
{% when 'bestseller' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="113" height="52" viewBox="0 0 113 52">
    <g fill="none" fill-rule="evenodd">
      <path fill="#CDE7EC" d="M22.244 15.314c2.9-7.898 7.953-12.68 15.162-14.346 7.21-1.665 14.664 1.394 22.364 9.178C72.533.31 83.092 2.55 91.448 16.866c14.289 1.332 21.433 6.177 21.433 14.536-.853 6.187-9.362 9.823-25.529 10.91-15.543 12.22-31.691 12.906-48.444 2.055-23.41 4.361-36.07.913-37.98-10.345C.23 21.55 7.335 15.314 22.244 15.314z"/>
      <text fill="#094A6E" font-family="BasisGrotesquePro-Bold, Basis Grotesque Pro" font-size="11" font-weight="bold" letter-spacing=".8">
        <tspan x="20" y="32">BESTSELLER</tspan>
      </text>
    </g>
  </svg>
{% when 'close' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21">
    <path d="M19.85 19.77c-.112.138-.277.222-.454.23-.178.007-.35-.062-.472-.19L9.99 10.877 1.058 19.81c-.155.16-.383.223-.598.166-.215-.056-.383-.224-.44-.439-.056-.215.007-.444.167-.598l8.932-8.933L.187 1.073C.027.918-.036.69.02.475.077.26.245.092.46.035c.215-.056.443.007.598.167l8.933 8.932L18.924.202c.148-.163.372-.235.587-.188.216.047.39.206.457.416s-4.559 5.015-4.707 5.178l4.534-4.535-8.933 8.933 8.933 8.933c.23.22.254.581.055.83z" transform="translate(-20 -160) translate(0 140) translate(20.002 20.01)"/>
  </svg>
{% when 'arrow-down' %}
  <svg class="arrow-icon" width="17" height="9" viewBox="0 0 17 9" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.21364 8.88003L0.118614 0.698707C0.0810089 0.660701 0.0511799 0.615581 0.0308265 0.565923C0.0104751 0.516265 -2.02403e-08 0.463042 -1.78908e-08 0.409293C-1.55413e-08 0.355544 0.0104751 0.302321 0.0308266 0.252663C0.0511799 0.203005 0.0810089 0.157885 0.118614 0.119879C0.156219 0.0818723 0.200865 0.0517244 0.249998 0.0311555C0.299131 0.0105865 0.351793 -7.27716e-07 0.404976 -7.25392e-07C0.458158 -7.23067e-07 0.51082 0.0105866 0.559954 0.0311555C0.609087 0.0517244 0.653732 0.0818723 0.691338 0.119879L8.5 8.01178L16.3087 0.119879C16.3846 0.043122 16.4876 -2.2397e-08 16.595 -1.77021e-08C16.7024 -1.30072e-08 16.8054 0.043122 16.8814 0.119879C16.9573 0.196637 17 0.300742 17 0.409294C17 0.517845 16.9573 0.621951 16.8814 0.698708L8.78636 8.88003C8.74877 8.91806 8.70413 8.94823 8.655 8.96882C8.60586 8.9894 8.55319 9 8.5 9C8.44681 9 8.39414 8.9894 8.345 8.96882C8.29587 8.94823 8.25123 8.91806 8.21364 8.88003Z" fill="#545353"/>
  </svg>
{% when 'arrow-up' %}
  <svg class="arrow-icon" width="17" height="9" viewBox="0 0 17 9" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.78636 0.119973L16.8814 8.30129C16.919 8.3393 16.9488 8.38442 16.9692 8.43408C16.9895 8.48373 17 8.53696 17 8.59071C17 8.64446 16.9895 8.69768 16.9692 8.74734C16.9488 8.79699 16.919 8.84211 16.8814 8.88012C16.8438 8.91813 16.7991 8.94828 16.75 8.96884C16.7009 8.98941 16.6482 9 16.595 9C16.5418 9 16.4892 8.98941 16.44 8.96884C16.3909 8.94828 16.3463 8.91813 16.3087 8.88012L8.5 0.988217L0.691338 8.88012C0.61539 8.95688 0.512383 9 0.404976 9C0.29757 9 0.194562 8.95688 0.118615 8.88012C0.0426668 8.80336 3.58632e-09 8.69926 4.88078e-09 8.59071C6.17524e-09 8.48215 0.0426668 8.37805 0.118615 8.30129L8.21364 0.119973C8.25123 0.0819398 8.29587 0.0517674 8.345 0.0311814C8.39414 0.0105954 8.44681 1.00727e-07 8.5 1.01361e-07C8.55319 1.01996e-07 8.60586 0.0105954 8.655 0.0311814C8.70413 0.0517675 8.74877 0.0819398 8.78636 0.119973Z" fill="#545353"/>
  </svg>
{% when 'arrow-right' %}
  <svg class="arrow-icon" width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M8.88003 8.78636L0.698708 16.8814C0.660702 16.919 0.615581 16.9488 0.565924 16.9692C0.516266 16.9895 0.463043 17 0.409294 17C0.355545 17 0.302322 16.9895 0.252664 16.9692C0.203006 16.9488 0.157886 16.919 0.119879 16.8814C0.081873 16.8438 0.0517251 16.7991 0.0311562 16.75C0.0105873 16.7009 0 16.6482 0 16.595C0 16.5418 0.0105873 16.4892 0.0311562 16.44C0.0517251 16.3909 0.081873 16.3463 0.119879 16.3087L8.01178 8.5L0.119879 0.691338C0.043122 0.61539 0 0.512383 0 0.404976C0 0.29757 0.043122 0.194562 0.119879 0.118615C0.196637 0.0426668 0.300742 0 0.409294 0C0.517845 0 0.621951 0.0426668 0.698708 0.118615L8.88003 8.21364C8.91806 8.25123 8.94823 8.29587 8.96882 8.345C8.9894 8.39414 9 8.44681 9 8.5C9 8.55319 8.9894 8.60586 8.96882 8.655C8.94823 8.70413 8.91806 8.74877 8.88003 8.78636Z" fill="#545453"/>
  </svg>
{% when 'arrow-left' %}
  <svg class="arrow-icon" width="9" height="17" viewBox="0 0 9 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M0.119974 8.21364L8.30129 0.118614C8.3393 0.0810089 8.38442 0.0511779 8.43408 0.0308265C8.48374 0.0104751 8.53696 -4.04805e-08 8.59071 -3.57816e-08C8.64446 -3.10827e-08 8.69768 0.0104751 8.74734 0.0308265C8.797 0.051178 8.84212 0.0810089 8.88012 0.118614C8.91813 0.156219 8.94828 0.200865 8.96885 0.249998C8.98941 0.299131 9 0.351793 9 0.404976C9 0.458158 8.98941 0.51082 8.96885 0.559954C8.94828 0.609087 8.91813 0.653732 8.88012 0.691338L0.988217 8.5L8.88012 16.3087C8.95688 16.3846 9 16.4876 9 16.595C9 16.7024 8.95688 16.8054 8.88012 16.8814C8.80336 16.9573 8.69926 17 8.59071 17C8.48215 17 8.37805 16.9573 8.30129 16.8814L0.119974 8.78636C0.0819404 8.74877 0.0517681 8.70413 0.0311821 8.655C0.0105961 8.60586 7.38444e-07 8.55319 7.43094e-07 8.5C7.47744e-07 8.44681 0.0105961 8.39414 0.0311821 8.345C0.0517681 8.29587 0.0819405 8.25123 0.119974 8.21364Z" fill="#545353"/>
  </svg>
{% when 'cart-new' %}
  <svg xmlns="http://www.w3.org/2000/svg" width="21" height="20" viewBox="0 0 21 20">
    <g fill="none" fill-rule="evenodd">
      <path stroke="#545353" d="M18 3.5c.69 0 1.315.28 1.768.732.452.453.732 1.078.732 1.768h0v7c0 1.795-.728 3.42-1.904 4.596C17.42 18.772 15.795 19.5 14 19.5h0-7c-1.795 0-3.42-.728-4.596-1.904C1.228 16.42.5 14.795.5 13h0V6c0-.69.28-1.315.732-1.768C1.685 3.78 2.31 3.5 3 3.5h0z" transform="translate(-1119.000000, -31.000000) translate(1119.000000, 31.000000) translate(0.000000, 0.000000)"/>
      <path stroke="#545353" d="M11 .5c.935 0 1.784.366 2.412.964.512.487.877 1.128 1.02 1.849h0l-7.895.175c.112-.762.469-1.443.988-1.963C8.16.892 9.034.5 10 .5h0z" transform="translate(-1119.000000, -31.000000) translate(1119.000000, 31.000000) translate(0.000000, 0.000000) translate(10.500000, 2.000000) scale(1, -1) rotate(-180.000000) translate(-10.500000, -2.000000)"/>
    </g>
  </svg>
{% when 'share' %}
  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 424.96 424.96" style="enable-background:new 0 0 424.96 424.96;" xml:space="preserve">
    <g>
      <path d="M340.48,300.587c-16.213,0-30.827,6.293-41.92,16.427l-152-88.64c1.173-4.8,1.92-9.813,1.92-14.933
        s-0.747-10.133-1.92-14.933l150.4-87.787c11.413,10.667,26.667,17.28,43.52,17.28c35.307,0,64-28.693,64-64
        c0-35.307-28.693-64-64-64c-35.307,0-64,28.693-64,64c0,5.12,0.747,10.133,1.92,14.933L128,166.72
        c-11.413-10.667-26.667-17.28-43.52-17.28c-35.307,0-64,28.693-64,64c0,35.307,28.693,64,64,64c16.853,0,32.107-6.613,43.52-17.28
        l152,88.64c-1.067,4.48-1.707,9.173-1.707,13.973c0,34.347,27.84,62.187,62.187,62.187s62.187-27.84,62.187-62.187
        S374.827,300.587,340.48,300.587z"/>
    </g>
  </svg>
{% when 'play' %}
  <svg id="icon-play" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 120 120" xml:space="preserve">
  <polygon points="17.5,120 17.5,0 107.5,60"/>
  </svg>
{% when 'pause' %}
  <svg viewBox="0 0 8 14" xmlns="http://www.w3.org/2000/svg">
    <g fill="#000" fill-rule="evenodd">
      <path d="M8 0v14H6V0zM2 0v14H0V0z"/>
    </g>
  </svg>
{% when 'volume' %}
  <svg viewBox="0 0 23 20" xmlns="http://www.w3.org/2000/svg">
    <g fill="none" fill-rule="evenodd">
      <g transform="translate(3 3)" fill="#000">
        <rect y="4" width="7" height="6" rx="1"/>
        <path d="M2.487 7c-.089-1.61-.089-2.444 0-2.5L9.21.132c.202-.129.507-.168.772-.098s.437.235.437.418v13.096c0 .183-.172.348-.437.418s-.57.03-.772-.098L2.487 10c-.089-.056-.089-1.056 0-3z" fill-rule="nonzero"/>
      </g>
      <path d="M14.5 16c2.761 0 5-2.686 5-6s-2.239-6-5-6" stroke="#000"/>
      <path d="M15 12.4c1.105 0 2-1.075 2-2.4s-.895-2.4-2-2.4" stroke="#000"/>
      <path id="v" stroke="#000" stroke-linecap="square" d="m1.5 18.5 20-17"/>
    </g>
  </svg>
{% when 'afterpay' %}
  <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" width="104" height="36" viewBox="14 12 76 12">
    <path class="afterpay-logo-badge-background" fill="#fff" d="m86.00173,35.9321l-68.00064,0c-9.90375,0 -17.93101,-8.02726 -17.93101,-17.93101l0,0c0,-9.90375 8.02726,-17.93101 17.93101,-17.93101l68.00064,0c9.90375,0 17.931,8.02726 17.931,17.93101l0,0c0.00652,9.89724 -8.02725,17.93101 -17.931,17.93101z"></path>
    <g class="afterpay-logo-badge-lockup">
      <path d="m88.23074,13.52071l-2.25928,-1.29288l-2.29193,-1.31247c-1.51489,-0.86845 -3.40851,0.22201 -3.40851,1.97197l0,0.29384c0,0.16324 0.08489,0.31342 0.22854,0.39178l1.06435,0.60726c0.29383,0.16978 0.6595,-0.0457 0.6595,-0.38525l0,-0.69868c0,-0.34607 0.37219,-0.56155 0.67256,-0.39178l2.0895,1.20147l2.08298,1.19493c0.30037,0.16977 0.30037,0.60727 0,0.77704l-2.08298,1.19494l-2.0895,1.20146c-0.30037,0.16978 -0.67256,-0.0457 -0.67256,-0.39178l0,-0.34607c0,-1.74997 -1.89362,-2.84696 -3.40851,-1.97198l-2.29193,1.31247l-2.25928,1.29289c-1.52142,0.87498 -1.52142,3.07549 0,3.95047l2.25928,1.29289l2.29193,1.31247c1.51489,0.86845 3.40851,-0.22201 3.40851,-1.97198l0,-0.29383c0,-0.16325 -0.08489,-0.31343 -0.22854,-0.39179l-1.06435,-0.60726c-0.29383,-0.16977 -0.6595,0.04571 -0.6595,0.38525l0,0.69868c0,0.34608 -0.37219,0.56156 -0.67256,0.39179l-2.0895,-1.20147l-2.08298,-1.19494c-0.30037,-0.16977 -0.30037,-0.60726 0,-0.77703l2.08298,-1.19494l2.0895,-1.20147c0.30037,-0.16977 0.67256,0.04571 0.67256,0.39179l0,0.34607c0,1.74996 1.89362,2.84695 3.40851,1.97197l2.29193,-1.31247l2.25928,-1.29288c1.52142,-0.88151 1.52142,-3.0755 0,-3.95048z"></path>
      <path d="m73.4083,13.95167l-5.28907,10.92421l-2.19398,0l1.9785,-4.08107l-3.11467,-6.84314l2.25275,0l1.99809,4.58386l2.18092,-4.58386l2.18746,0z"></path>
      <path d="m20.52416,17.83032c0,-1.30594 -0.9468,-2.2201 -2.10909,-2.2201s-2.1091,0.93375 -2.1091,2.2201c0,1.2733 0.94681,2.2201 2.1091,2.2201s2.10909,-0.91416 2.10909,-2.2201m0.01959,3.87865l0,-1.00558c-0.57461,0.69868 -1.43,1.12964 -2.44864,1.12964c-2.12869,0 -3.74152,-1.70425 -3.74152,-4.00271c0,-2.27887 1.67813,-4.01577 3.78723,-4.01577c0.99251,0 1.82832,0.43749 2.40293,1.11658l0,-0.97946l1.90668,0l0,7.7573l-1.90668,0z"></path>
      <path d="m31.72262,19.98513c-0.66603,0 -0.85539,-0.24813 -0.85539,-0.9011l0,-3.44116l1.22758,0l0,-1.6912l-1.22758,0l0,-1.89361l-1.95239,0l0,1.89361l-2.52047,0l0,-0.7705c0,-0.65297 0.24813,-0.9011 0.93375,-0.9011l0.43096,0l0,-1.50184l-0.94027,0c-1.61284,0 -2.37682,0.52891 -2.37682,2.14175l0,1.03822l-1.08393,0l0,1.68467l1.08393,0l0,6.0661l1.95238,0l0,-6.0661l2.52047,0l0,3.80029c0,1.58019 0.60727,2.26581 2.18746,2.26581l1.00557,0l0,-1.72384l-0.38525,0z"></path>
      <path d="m38.73553,17.13164c-0.13713,-1.00557 -0.95987,-1.61284 -1.92627,-1.61284c-0.95986,0 -1.75649,0.58768 -1.95238,1.61284l3.87865,0zm-3.89824,1.208c0.13712,1.14923 0.95987,1.8022 2.00462,1.8022c0.82275,0 1.45613,-0.38525 1.82832,-1.00558l2.00462,0c-0.46361,1.64549 -1.93932,2.69677 -3.87865,2.69677c-2.34416,0 -3.98965,-1.64548 -3.98965,-3.98965c0,-2.34417 1.7369,-4.03536 4.03536,-4.03536c2.31152,0 3.98965,1.70425 3.98965,4.03536c0,0.16977 -0.01305,0.33955 -0.0457,0.49626l-5.94857,0z"></path>
      <path d="m53.26414,17.83032c0,-1.2537 -0.94681,-2.2201 -2.1091,-2.2201c-1.16229,0 -2.1091,0.93375 -2.1091,2.2201c0,1.2733 0.94681,2.2201 2.1091,2.2201c1.16229,0 2.1091,-0.95986 2.1091,-2.2201m-6.14446,7.04556l0,-10.92421l1.90667,0l0,1.00558c0.57462,-0.71174 1.43001,-1.14923 2.44865,-1.14923c2.09603,0 3.74152,1.72384 3.74152,4.00271s-1.67814,4.01578 -3.78723,4.01578c-0.97946,0 -1.78261,-0.38526 -2.34417,-1.03823l0,4.08107l-1.96544,0l0,0.00653z"></path>
      <path d="m62.09231,17.83032c0,-1.30594 -0.94681,-2.2201 -2.1091,-2.2201c-1.16229,0 -2.1091,0.93375 -2.1091,2.2201c0,1.2733 0.94681,2.2201 2.1091,2.2201c1.16229,0 2.1091,-0.91416 2.1091,-2.2201m0.01959,3.87865l0,-1.00558c-0.57462,0.69868 -1.43001,1.12964 -2.44865,1.12964c-2.12868,0 -3.74152,-1.70425 -3.74152,-4.00271c0,-2.27887 1.67813,-4.01577 3.78723,-4.01577c0.99252,0 1.82832,0.43749 2.40294,1.11658l0,-0.97946l1.90667,0l0,7.7573l-1.90667,0z"></path>
      <path d="m43.67852,14.70912s0.4832,-0.9011 1.67814,-0.9011c0.50931,0 0.8358,0.1763 0.8358,0.1763l0,1.97851s-0.71827,-0.44402 -1.37777,-0.35261c-0.6595,0.09142 -1.0774,0.69215 -1.0774,1.50184l0,4.59038l-1.97197,0l0,-7.75076l1.90667,0l0,0.75744l0.00653,0z"></path>
    </g>
  </svg>

{% when 'clearpay' %}
  <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" width="106" height="36" viewBox="14 12 78 12">
    <path class="afterpay-logo-badge-background" fill="#fff" d="m87.9659,35.9683l-69.9317,0a17.9342,17.9342 0 1 1 0,-35.8683l69.9317,0a17.9342,17.9342 0 1 1 0,35.8683z"></path>
      <g class="afterpay-logo-badge-lockup">
        <path d="m75.7442,13.8827l-5.2852,10.9026l-2.1897,0l1.9746,-4.073l-3.102,-6.8296l2.2483,0l1.9942,4.5748l2.1765,-4.5748l2.1832,0l0.0001,0z"></path>
        <path d="m55.6334,17.7537a2.1505,2.1505 0 0 0 -2.105,-2.2157c-1.1599,0 -2.1048,0.932 -2.1048,2.2157c0,1.2708 0.9449,2.2157 2.1049,2.2157a2.1505,2.1505 0 0 0 2.105,-2.2157m-6.1324,7.0316l0,-10.9025l1.903,0l0,1.0035a3.076,3.076 0 0 1 2.4437,-1.147c2.0919,0 3.7341,1.7205 3.7341,3.9949s-1.6748,4.0078 -3.7797,4.0078a2.9977,2.9977 0 0 1 -2.3395,-1.0362l0,4.073l-1.9617,0l0,0.0065l0.0001,0z"></path>
        <path d="m64.4506,17.7537c0,-1.3033 -0.945,-2.2157 -2.105,-2.2157c-1.1599,0 -2.1048,0.932 -2.1048,2.2157c0,1.2708 0.9449,2.2157 2.1049,2.2157c1.16,0 2.105,-0.9188 2.105,-2.2157m0.013,3.871l0,-1.0037a3.102,3.102 0 0 1 -2.4439,1.1274c-2.1244,0 -3.734,-1.7009 -3.734,-3.9948c0,-2.2743 1.6747,-4.0078 3.7797,-4.0078c0.9905,0 1.8247,0.4366 2.3981,1.1144l0,-0.9775l1.903,0l0,7.7419l-1.903,0l0.0001,0.0001z"></path>
        <path d="m46.0668,14.6387s0.4822,-0.8993 1.6748,-0.8993c0.5083,0 0.8341,0.176 0.8341,0.176l0,1.9745s-0.7168,-0.4431 -1.375,-0.3519s-1.0753,0.6908 -1.0753,1.4989l0,4.5878l-1.968,0l0,-7.742l1.9029,0l0,0.756l0.0065,0z"></path>
        <path d="m90.5242,13.4461l-2.2548,-1.2903l-2.2874,-1.3099a2.2744,2.2744 0 0 0 -3.4017,1.9681l0,0.2933c0,0.1629 0.0847,0.3128 0.228,0.391l1.0623,0.606a0.4431,0.4431 0 0 0 0.6582,-0.3845l0,-0.6973c0,-0.3454 0.3714,-0.5604 0.6712,-0.391l2.0854,1.1991l2.0788,1.1926a0.4497,0.4497 0 0 1 0,0.7755l-2.0788,1.1926l-2.0854,1.199a0.4497,0.4497 0 0 1 -0.6712,-0.391l0,-0.3454c0,-1.7464 -1.8899,-2.8413 -3.4018,-1.968l-2.2874,1.3098l-2.2548,1.2904a2.2809,2.2809 0 0 0 0,3.9426l2.2548,1.2903l2.2874,1.31a2.2744,2.2744 0 0 0 3.4018,-1.9682l0,-0.2932c0,-0.163 -0.0847,-0.3128 -0.2281,-0.391l-1.0622,-0.606a0.4431,0.4431 0 0 0 -0.6582,0.3844l0,0.6973c0,0.3454 -0.3715,0.5604 -0.6713,0.391l-2.0853,-1.199l-2.0789,-1.1927a0.4497,0.4497 0 0 1 0,-0.7755l2.0789,-1.1925l2.0853,-1.1991a0.4497,0.4497 0 0 1 0.6713,0.391l0,0.3454c0,1.7465 1.8898,2.8413 3.4017,1.968l2.2874,-1.3098l2.2548,-1.2903a2.2809,2.2809 0 0 0 0,-3.9427z"></path>
        <path d="m22.2806,18.7377a3.8905,3.8905 0 0 1 -3.9296,3.0043a3.91,3.91 0 0 1 -4.0078,-3.9948a3.9492,3.9492 0 0 1 4.0404,-4.0078a3.897,3.897 0 0 1 3.884,2.9716l-2.0137,0a2.105,2.105 0 0 0 -1.8573,-1.16a2.1375,2.1375 0 0 0 -2.105,2.1962a2.1375,2.1375 0 0 0 2.105,2.1961c0.8211,0 1.5314,-0.4627 1.8703,-1.2056l2.0137,0z"></path>
        <path d="m23.1864,21.6181l0,-10.922l1.9485,0l0,10.922l-1.9485,0z"></path>
        <path d="m28.0675,18.262a1.9224,1.9224 0 0 0 1.9941,1.7921c0.8211,0 1.4532,-0.3845 1.8247,-1.0036l1.9941,0c-0.4627,1.6423 -1.9355,2.6915 -3.871,2.6915c-2.3395,0 -3.9752,-1.6423 -3.9752,-3.9753s1.7335,-4.0208 4.0209,-4.0208a3.871,3.871 0 0 1 3.9296,4.5161l-5.9172,0zm3.884,-1.2121c-0.1369,-1.0036 -0.958,-1.6096 -1.916,-1.6096s-1.7464,0.5865 -1.9485,1.6096l3.8645,0z"></path>
        <path d="m40.9902,21.6181l0,-1.0035a3.089,3.089 0 0 1 -2.4438,1.1274c-2.118,0 -3.7276,-1.701 -3.7276,-3.9948c0,-2.2744 1.6683,-4.0078 3.7733,-4.0078c0.9905,0 1.8247,0.43 2.3981,1.1144l0,-0.9776l1.903,0l0,7.7354l-1.903,0l0,0.0066l0,-0.0001zm-0.0195,-3.8709c0,-1.2967 -0.945,-2.2156 -2.105,-2.2156c-1.16,0 -2.1049,0.9254 -2.1049,2.2157c0,1.2708 0.945,2.2157 2.105,2.2157c1.16,0 2.1049,-0.9124 2.1049,-2.2157l0,-0.0001z"></path>
      </g>
  </svg>

{% when 'chat-widget' %}
  <svg width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M27.4167 11.0514V2.48083C27.4167 1.4447 26.6283 0.604612 25.6558 0.604612H2.35572C1.88642 0.600402 1.43498 0.796269 1.10205 1.14869C0.769113 1.50112 0.582349 1.9808 0.583378 2.48083V16.8831C0.58237 17.381 0.767564 17.8588 1.09801 18.2108C1.42846 18.5629 1.87694 18.7602 2.34426 18.7591H4.55586V24.717C4.55484 24.9832 4.7007 25.2253 4.92834 25.3351C5.15598 25.445 5.42294 25.4021 5.6101 25.2257L10.9271 18.7591H26.034C26.6222 18.7591 27.4129 17.9208 27.4129 16.8831V11.0514" stroke="white"/>
  </svg>

{% when 'ba-bullet' %}
  <svg width="22" height="17" viewBox="0 0 22 17" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M20.521 1.00078C20.4039 1.00954 20.2947 1.06657 20.2161 1.15937L8.06534 14.8247L1.81275 7.93156C1.73395 7.82308 1.6159 7.75542 1.48757 7.74514C1.3594 7.73501 1.23312 7.78327 1.14009 7.8779C1.04719 7.97273 0.996398 8.10517 1.0002 8.24216C1.00415 8.37932 1.06239 8.50804 1.1605 8.59678L7.73918 15.8527C7.82479 15.9468 7.94235 16 8.06532 16C8.18827 16 8.30599 15.9468 8.39144 15.8527L20.8682 1.82459C21.0006 1.68236 21.0371 1.46809 20.9601 1.28541C20.8831 1.10268 20.7085 0.989463 20.521 1.00078Z" fill="#545353" stroke="#545353" stroke-width="0.5"/>
  </svg>

{% when 'find-shade' %}
  <svg class="tryon-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
    <g id="Layer_1">
      <path class="st1" d="M97.4,92.1L74.1,68.8C88.6,51.4,86.2,25.5,68.8,11S25.5-1.2,11,16.3C-3.5,33.7-1.2,59.6,16.3,74.1
      c15.2,12.7,37.3,12.7,52.5,0l23.3,23.3c1.5,1.5,3.8,1.5,5.3,0C98.9,96,98.9,93.6,97.4,92.1z M42.6,76.1c-18.5,0-33.5-15-33.5-33.5
      C9,24.1,24.1,9,42.6,9s33.5,15,33.5,33.5C76.1,61.1,61.1,76.1,42.6,76.1z"/>
      <g>
        <path class="st1" d="M42.6,60.9c-2.4,0-4.8-0.6-7-1.7c-9.3-5-7.5-15.5-5.3-20.4c0.9-1.9,2.5-4.2,4.2-6.8c0.8-1.1,1.6-2.3,2.3-3.4
        c1.9-3,3.5-5.7,4.1-6.8c0.3-0.6,0.9-0.9,1.6-0.9c0.7,0,1.3,0.4,1.6,1c0.6,1.1,2.2,3.8,4.1,6.8c0.7,1.1,1.5,2.3,2.3,3.4
        c1.7,2.5,3.4,4.9,4.2,6.8c2.2,4.9,4,15.4-5.3,20.3C47.4,60.4,45,60.9,42.6,60.9z M42.6,25.1c-0.8,1.4-1.9,3.2-3.2,5.2
        c-0.8,1.2-1.6,2.3-2.4,3.5c-1.7,2.4-3.2,4.7-4,6.3c-1.8,4-3.4,12.5,4,16.4c3.5,1.9,7.7,1.9,11.2,0l0,0c7.3-3.9,5.8-12.5,4-16.4
        c-0.8-1.6-2.3-3.9-4-6.3c-0.8-1.2-1.6-2.3-2.4-3.5C44.5,28.3,43.4,26.5,42.6,25.1z M41.6,23.3C41.6,23.3,41.6,23.3,41.6,23.3
        C41.6,23.3,41.6,23.3,41.6,23.3z M43.6,23.3C43.6,23.3,43.6,23.3,43.6,23.3C43.6,23.3,43.6,23.3,43.6,23.3z"/>
      </g>
    </g>
    <g id="Layer_2">
    </g>
 </svg>

{% when 'try-on' %}
  <svg class="tryon-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
    <g id="Layer_1">
      <rect x="-20.5" y="-20.5" class="st12" width="150" height="150"/>
      <g>
        <path class="st1" d="M48.7,18.2c-0.8-0.8-2.1-0.8-2.9,0L29.1,35.5c-0.8,0.8-0.8,2.1,0,2.9c0.4,0.4,0.9,0.6,1.4,0.6
         c0.5,0,1.1-0.2,1.5-0.6l16.7-17.3C49.5,20.3,49.5,19,48.7,18.2z"/>
        <path class="st1" d="M30.6,30c0.5,0,1.1-0.2,1.5-0.6l8.4-8.6c0.8-0.8,0.8-2.1,0-2.9c-0.8-0.8-2.1-0.8-2.9,0l-8.4,8.6
         c-0.8,0.8-0.8,2.1,0,2.9C29.5,29.8,30.1,30,30.6,30z"/>
        <path class="st1" d="M53.5,56.8c0-1.9-1.6-3.5-3.5-3.5c-1.9,0-3.5,1.6-3.5,3.5c0,1.9,1.6,3.5,3.5,3.5
         C51.9,60.3,53.5,58.7,53.5,56.8z"/>
        <path class="st1" d="M78.3,92h-25V71.9c18.2-1.7,32.5-16.8,32.5-35.2C85.9,17.2,69.8,1.4,50,1.4S14.1,17.2,14.1,36.7
         c0,18.4,14.3,33.5,32.5,35.2V92h-25c-1.8,0-3.3,1.5-3.3,3.3c0,1.8,1.5,3.3,3.3,3.3h56.6c1.8,0,3.3-1.5,3.3-3.3
         C81.6,93.4,80.1,92,78.3,92z M20.8,36.7C20.8,20.9,33.9,8,50,8s29.2,12.9,29.2,28.7c0,15.8-13.1,28.7-29.2,28.7
         S20.8,52.5,20.8,36.7z"/>
      </g>
    </g>
    <g id="Layer_2">
    </g>
  </svg>

{% when 'compare-shade' %}
  <svg class="tryon-icon" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
    viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
    <g id="Layer_1">
      <rect x="-131.5" y="-20.5" class="st12" width="150" height="150"/>
      <g>
        <path class="st3" d="M91.7,53.3c0.1-1.1,0.2-2.2,0.2-3.3s-0.1-2.2-0.2-3.3H50v-3.5h41.3c-0.4-2.2-0.9-4.4-1.6-6.5H50v-3.5h38.3
          c-1-2.3-2.2-4.5-3.6-6.5H50v-3.5h32.1c-2-2.4-4.3-4.6-6.9-6.5H50v-3.5h19.9C64,10,57.2,8.1,50,8.1C26.9,8.1,8.1,26.9,8.1,50
          S26.9,91.9,50,91.9c7.2,0,14-1.8,19.9-5.1H50v-3.5h25.3c2.5-1.9,4.8-4.1,6.9-6.5H50v-3.5h34.8c1.4-2,2.6-4.2,3.6-6.5H50v-3.5h39.7
          c0.7-2.1,1.2-4.3,1.6-6.5H50v-3.5H91.7z"/>
        <path class="st1" d="M98.1,46.7c-0.1-1.2-0.2-2.3-0.4-3.5c-0.3-2.2-0.8-4.4-1.4-6.5c-0.3-1.2-0.7-2.4-1.2-3.5
          c-0.8-2.2-1.8-4.4-2.9-6.5c-0.7-1.2-1.4-2.4-2.1-3.5c-1.6-2.3-3.3-4.5-5.3-6.5c-1.2-1.2-2.4-2.4-3.7-3.5c-3-2.6-6.4-4.7-10-6.5
          c-3-1.5-6.3-2.7-9.6-3.5C57.8,2.3,54,1.7,50,1.7C23.4,1.7,1.7,23.4,1.7,50S23.4,98.3,50,98.3c4,0,7.8-0.5,11.5-1.5
          c3.4-0.8,6.6-2,9.6-3.5c3.6-1.8,7-3.9,10-6.5c1.3-1.1,2.5-2.3,3.7-3.5c1.9-2,3.7-4.2,5.3-6.5c0.8-1.1,1.5-2.3,2.1-3.5
          c1.1-2.1,2.1-4.3,2.9-6.5c0.4-1.2,0.8-2.3,1.2-3.5c0.6-2.1,1.1-4.3,1.4-6.5c0.2-1.2,0.3-2.3,0.4-3.5c0.1-1.1,0.2-2.2,0.2-3.3
          S98.2,47.8,98.1,46.7z M91.3,56.8c-0.4,2.2-0.9,4.4-1.6,6.5H50v3.5h38.3c-1,2.3-2.2,4.5-3.6,6.5H50v3.5h32.1
          c-2,2.4-4.3,4.6-6.9,6.5H50v3.5h19.9C64,90,57.2,91.9,50,91.9C26.9,91.9,8.1,73.1,8.1,50S26.9,8.1,50,8.1c7.2,0,14,1.8,19.9,5.1
          H50v3.5h25.3c2.5,1.9,4.8,4.1,6.9,6.5H50v3.5h34.8c1.4,2,2.6,4.2,3.6,6.5H50v3.5h39.7c0.7,2.1,1.2,4.3,1.6,6.5H50v3.5h41.7
          c0.1,1.1,0.2,2.2,0.2,3.3s-0.1,2.2-0.2,3.3H50v3.5H91.3z"/>
      </g>
    </g>
    <g id="Layer_2">
    </g>
  </svg>

{% endcase %}
