<section class="section-account">
	<div class="section__inner">
		{%- include 'account', fragment: 'sidebar' -%}

		<div class="section__content special_iframe_container">
			<iframe id="refcandy-candyjar" data-id="f9qjrz3hw2o8fo8mxbokaoth0" data-height="426" data-width="100%" frameborder=0></iframe>

			<!-- <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//portal.referralcandy.com/assets/widgets/refcandy-candyjar.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","refcandy-candyjar-js");</script> -->
		</div><!-- /.section__content -->
	</div><!-- /.section__inner -->
</section><!-- /.section-account -->
