{% assign s = section.settings %}
<section class="centerTextModule" id="section-{{section.id}}">
  <div{% if s.full_width %} class="full-width"{% endif %}>
    {% if s.title != blank %}<h2 class="heading">{{ s.title }}</h2>{% endif %}
    {{ s.text_center }}
  </div>
</section>

{% schema %}
  {
    "name": "1 Col Text Center",
	"tag":"section",
	"class": "container",
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": false
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
		"default": "Heading"
      },
      {
        "type": "richtext",
        "id": "text_center",
        "label": "Text",
		"default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>"
      }
    ],
    "presets": [
      {
        "name": "1 Col Text Center - Article"
      }
    ]
  }
{% endschema %}