<section class="dropcapTextModule" id="section-{{section.id}}">
  <div class="content-info{% if section.settings.full_width %} full-width{% endif %}">
    <ul>
      {% for block in section.blocks %}
        {% if block.settings.dropcap != '' or  block.settings.description != ''%}
        	<li {{ block.shopify_attributes }}><b>{{ block.settings.dropcap  }}</b>{{ block.settings.description  }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
  {
    "name": "1 Col Text With DropCap",
	"tag":"section",
	"class": "container",
    "settings": [
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "Full Width",
        "default": false
      }
	],
	"blocks": [
      {
        "type": "text",
        "name": "Dropcap Text",
        "settings": [
          {
            "type": "text",
            "id": "dropcap",
            "label": "Dropcap",
			"default": "TXT"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description",
			"default": "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>"
          }
        ]
      }
	],
    "presets": [
      {
        "name": "1 Col Text With DropCap - Article"
      }
    ]
  }
{% endschema %}