<section>

    {% for block in section.blocks %}

        {% if article.handle == articles[block.settings.image-text-wh-2-article].handle %}
            <div style="float: left;width:50%;">
                {{block.settings.image | image_url: width: 1200 | image_tag: width: 285, height: 620, alt: block.settings.image.alt, fetchpriority: 'low', loading: 'lazy' }}
            </div>


            <div style="float: right;width:50%;">
                <h2>{{ block.settings.heading }}</h2>
                <br>
                <p>{{ block.settings.description }}</p>
            </div>


            {% break %}
        {% endif %}
    {% endfor %}
</section>

<style>
    table {
        border-collapse: separate;
        border-spacing: 50px 0;
    }

    td {
        padding: 10px 0;
    }
</style>

{% schema %}
    {
    "name": "2X Image|Text WH 2",
    "class": "image-text-wh-2",
    "blocks" : [
    {
    "type": "slide",
    "name": "2X Image|Text WH 2",
    "settings": [
    {
    "type": "article",
    "id": "image-text-wh-2-article",
    "label": "Article"
    },
    {
    "type": "image_picker",
    "id": "image",
    "label": "Image"
    },
    {
    "type": "text",
    "id": "heading",
    "label": "Heading"
    },
    {
    "type": "textarea",
    "id": "description",
    "label": "Description"
    }
    ]
    }
    ]
    }
{% endschema %}