<div class="container">
  
	<div class='relatedArticles'>
		<h2>Related Stories</h2>
		<hr class="section__divider">
		{%- include 'article-related-stories' -%}
      	<hr class="section__divider">
	</div> 

</div><!-- /.container -->

{% schema %}
  {
    "name": "Related Stories",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
