<div class="container">
	<div class="page-error-wrapper">
		<div class="page--error">
			<h2>
				404: Page not found
			</h2>
		</div>
	</div><!-- /.page-error-wrapper -->
</div><!-- /.container -->
