{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ 'react-index.css' | asset_url | stylesheet_tag }}

<div class="container">
    <div class="page--default">
        <div class="page__content">
            <div id="react-root"></div>
        </div><!-- /.page__content -->
    </div>
</div><!-- /.container -->
